#
# Default settings for the simulation
#

## Scenario settings
Scenario.name = [WF9_EpidemicRouter_7500k_60s_128k_run1;WF9_EpidemicRouter_7500k_60s_128k_run2;WF9_EpidemicRouter_7500k_60s_128k_run3;WF9_EpidemicRouter_7500k_60s_128k_run4;WF9_EpidemicRouter_7500k_60s_128k_run5;WF9_EpidemicRouter_7500k_60s_128k_run6;WF9_EpidemicRouter_7500k_60s_128k_run7;WF9_EpidemicRouter_7500k_60s_128k_run8;WF9_EpidemicRouter_7500k_60s_128k_run9;WF9_EpidemicRouter_7500k_60s_128k_run10]
Scenario.simulateConnections = true
Scenario.updateInterval = 1.0
Scenario.endTime = 345570

## Interface-specific settings:
# type : which interface class the interface belongs to
# For different types, the sub-parameters are interface-specific
# For SimpleBroadcastInterface, the parameters are:
# transmitSpeed : transmit speed of the interface (bytes per second)
# transmitRange : range of the interface (meters)

wlanInterface.type = DistanceCapacityInterface

# values from http://www.xirrus.com/cdn/pdf/wifi-demystified/documents_posters_range_plotter
# 0-50ft:54Mbps, 75-100ft:48 Mbps, 125ft:36Mbps, 150ft:24 Mbps, 175ft:18Mbps,
# 200ft:12Mbps, 225ft:9Mbps, 250ft:6Mbps, 275ft:2Mbps, 300ft:1Mbps
wlanInterface.transmitSpeeds = 6750k, 6750k, 6750k, 6000k, 6000k, 4500k, 3000k, 2250k, 1500k, 1125k, 750k, 250k, 125k
wlanInterface.transmitRange = 91
# dummy speed
wlanInterface.transmitSpeed = 0
Group.interface1 = wlanInterface

# Define 6 different node groups
Scenario.nrofHostGroups = 1

## Group-specific settings:

# Common settings for all groups
Group.movementModel = ExternalMovement
ExternalMovement.file = ../scenarios/WF9_one.csv


Group.nrofInterfaces = 1
Group.interface1 = wlanInterface

Group.groupID = N
Group.nrofHosts =  23

Group.bufferSize = 7500k 


## Message creation parameters
# How many event generators
Events.nrof = 1
# Class of the first event generator
Events1.class = MessageEventGenerator
Events1.interval = 60
# Message sizes (500kB - 1MB)
Events1.size = 128k
# range of message source/destination addresses
Events1.hosts = 0,22
# Message ID prefix
Events1.prefix = M

Group.msgTtl = 525600
Group.router = EpidemicRouter

#MaxPropRouter.probSetMaxSize = 50
#MaxPropRouter.alpha_s = 1

#ProphetRouter.gamma = 0.98
#ProphetRouter.beta = 0.25
#ProphetRouter.p_init = 0.75
#ProphetRouter.secondsInTimeUnit = 30

## Reports - all report names have to be valid report classes

# how many reports to load
Report.nrofReports = 5
# length of the warm up period (simulated seconds)
Report.warmup = 0
# default directory of reports (can be overridden per Report with output setting)
Report.reportDir = ../one_reports/
# Report classes to load
Report.report1 = MessageStatsReport
Report.report2 = ConnectivityONEReport
Report.report3 = CreatedMessagesReport
Report.report4 = MessageDelayReport
Report.report5 = BufferOccupancyReport



## Optimization settings -- these affect the speed of the simulation
## see World class for details.
Optimization.cellSizeMult = 10000
Optimization.randomizeUpdateOrder = true
